*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color:  #F7BE0B;
}
.container{
	width: 400px;
	height: 400px;
	/*border: 2px solid black;*/
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	border-radius: 50%;
	box-shadow: 0px 0px 25px 12px rgba(242,244,30,0.75);
-webkit-box-shadow: 0px 0px 25px 12px rgba(242,244,30,0.75);
-moz-box-shadow: 0px 0px 25px 12px rgba(242,244,30,0.75);
}
.clock{
	width: 325px;
	height: 325px;
	/*border: 2px solid black;*/
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	background-image: url(images/clock.png);
	background-size: cover;
	color: #000;
	border-radius: 50%;
	box-shadow: 0px 0px 25px 12px rgba(242,244,30,0.75);
-webkit-box-shadow: 0px 0px 25px 12px rgba(242,244,30,0.75);
-moz-box-shadow: 0px 0px 25px 12px rgba(242,244,30,0.75);
justify-content: center;
align-items: center;
display: flex;
}
.hr{
	width: 100px;
	height: 100px;
}
.min{
	width:140px;
	height:170px
}
.sec{
	width: 170px;
	height: 190px;	
}
.hr, .min, .sec{
	/*border: 1px solid black;*/
	position: absolute;
	display: flex;
	justify-content: center;
}
.clock::before{
	content: '';
	height: 10px;
	width: 10px;
	background-color: #000;
	border-radius: 50%;
}
.hr::before{
	position: absolute;
	content: '';
	height: 75px;
	width: 8px;
	background-color: #000;
	border-radius: 50%;
	z-index: 10;
}
.min::before{
	position: absolute;
	content: '';
	height: 100px;
	width: 4px;
	background-color: #000;
	border-radius: 50%;
	z-index: 10;;
}
.sec::before{
	position: absolute;
	content: '';
	height: 130px;
	width: 2px;
	background-color: #000;
	border-radius: 50%;
	z-index: 10;
}
